
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* header part start here  */

.banner{
    background-image: url('../images/Hero-bg.png');
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.banner >h1{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 48px;
    font-weight: 750;
    line-height: 50px;
    text-align: center;
}

.banner >p{
    font-family: "Inter";
    text-align: center;
    margin-top: -4px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
    
}

.banner >a >input{
    font-family: "Inter";
    margin-top: 10px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    color: white;
    width: 208px;
    height: 66px;
    font-size: 20px; 
    margin-top: 25px;

}


/* header part end here  */


/* section 1 start here  */

.section1{
    max-width: 1140px;
    height: 1300px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 100px;
}

.section1-div1{
    max-width: 946px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
   
}

.section1-div1 >h1{
    font-family: "Inter";
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 750;
}

.section1-div1 >p{
    font-family: "Inter";
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
    padding-left: 10px;
}


.section1-div2{
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    
}


.section1-div2-sdiv1{
    padding-left: 40px;
    margin-top: -13px;
}

.section1-div2-sdiv1 >h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
}


.section1-div2-sdiv1 >p{
    font-family: "Inter";
    opacity: 0.9;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.section1-div2-sdiv1 >button{
    width: 165px;
    height: 43px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.9;
    margin-top: 20px;
    
}

.section1-div2-sdiv1 >button >a{
    font-family: "Inter";
    text-decoration: none;
    font-size: 18px;
   font-weight: 600;
   color: rgb(13, 19, 33);

}

.section1-div2-sdiv2{
    padding-top: 50px;
}


.section1-div3{
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.section1-div3-sdiv1{
    padding-left: 25px;
    padding-top: 20px;
}

.section1-div3-sdiv2 >h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: 0%;

}

.section1-div3-sdiv2 >p{
    font-family: "Inter";
    opacity: 0.9;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.section1-div3-sdiv2 >button{
    width: 165px;
    height: 43px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.9;
    margin-top: 20px;
}

.section1-div3-sdiv2 >button >a{
    font-family: "Inter";
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(13, 19, 33);
}


.section1-div4{
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    
}


.section1-div4-sdiv1{
    padding-left: 40px;
    margin-top: -13px;
}

.section1-div4-sdiv1 >h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
}


.section1-div4-sdiv1 >p{
    font-family: "Inter";
    opacity: 0.9;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.section1-div4-sdiv1 >button{
    width: 165px;
    height: 43px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.9;
    margin-top: 20px;
    
}

.section1-div4-sdiv1 >button >a{
    text-decoration: none;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    color: rgb(13, 19, 33);

}

.section1-div4-sdiv2{
    padding-top: 50px;
}

/* Section 1 end here  */


/* section 2 start here  */

.section2{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    
    
}

.section2 >.section2-div1{
    width: 946px;
    text-align: center;
    margin: 0 auto;

}


.section2 >.section2-div1 >h1{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 800;
}

.section2 >.section2-div1 >p{
    opacity: 0.9;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}


.section2 >.section2-div1 >p{
    padding-left: 40px;
}



.section2-div2 >iframe{
    max-width: 1076px;
    padding: 50px;

}


/* Section 2 end here  */



/* section 3 start here  */

.section3{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}

.section3-div1{
   text-align: center;
   max-width: 946px;
   margin: 0 auto;
   padding-left: 60px;
   padding-right: 60px;
}

.section3-div1 >h1{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 800;
}

.section3-div1 >p{
    opacity: 0.9;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin-top: 35px;
}


.section3-div2{
    display: flex;
    justify-content: space-evenly;
    gap: 82px;
    margin-top: 70px;
}

.section3-div2-sdiv1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    
}

.section3-div2-sdiv1 >h1{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 800;
}

.section3-div2-sdiv1 >p{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;

}


.section3-div2-sdiv1 >a{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
}



.section3-div2-sdiv2{
    border-radius: 16px;
    background:  rgba(0, 76, 232, 0.05);
    padding: 40px;
    
}

.section3-div2-sdiv2 >h1{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 800;
}

.section3-div2-sdiv2 >p{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;

}


.section3-div2-sdiv2 >a{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
}




.section3-div2-sdiv3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    
}

.section3-div2-sdiv3 >h1{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 800;
}

.section3-div2-sdiv3 >p{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;

}


.section3-div2-sdiv3 >a{
    color: rgb(13, 19, 33);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
}



/* section 3 end here  */

